# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [245]:
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
insurance = pd.read_csv(url)
insurance_new_1 = pd.read_csv(url_2)
insurance_new_2 = pd.read_csv(url_3)

In [246]:
combined_insurance = pd.concat([insurance,insurance_new_1,insurance_new_2])

In [247]:
combined_insurance.rename(columns={"ST":"State","GENDER":"Gender"}, inplace=True)
combined_insurance.columns = pd.Series(combined_insurance.columns).apply(lambda x: x.replace(" ", "_"))

In [248]:
combined_insurance.isnull().sum()

Customer                      2937
State                        10007
Gender                       10129
Education                     2937
Customer_Lifetime_Value       2944
Income                        2937
Monthly_Premium_Auto          2937
Number_of_Open_Complaints     2937
Policy_Type                   2937
Vehicle_Class                 2937
Total_Claim_Amount            2937
State                         5004
Gender                        5004
dtype: int64

In [251]:
combined_insurance.columns = ["Customer","State_1","Gender_1","Education","Customer_Lifetime_Value","Income","Monthly_Premium_Auto",
                                     "Number_of_Open_Complaints", "Policy_Type","Vehicle_Class","Total_Claim_Amount","State_2", "Gender_2"]

In [275]:

combined_insurance["Gender"] = pd.concat([combined_insurance["Gender_1"],combined_insurance["Gender_2"]]).dropna().reset_index(drop=True)
combined_insurance["State"] = pd.concat([combined_insurance["State_1"],combined_insurance["State_2"]]).dropna().reset_index(drop=True)
combined_insurance.drop(["State_1","State_2","Gender_1","Gender_2"],axis=1, inplace=True)
combined_insurance["Customer_Lifetime_Value"].fillna("0%", inplace=True)
combined_insurance["Customer_Lifetime_Value"] = combined_insurance["Customer_Lifetime_Value"].apply(lambda x:
                                                                                                    str(x).replace("%","")).astype(float).astype(int)
combined_insurance.dropna(subset="Customer", inplace=True)

In [230]:
# combined_insurance["Customer_Lifetime_Value"==0] = combined_insurance["Customer_Lifetime_Value"].mean().astype(int)

In [269]:
def clean_g(x):
    if x == "M" or x == "Male":
        return "Male"
    else:
        return "Female"

combined_insurance["Gender"] = combined_insurance["Gender"].apply(clean_g)
combined_insurance["State"] = combined_insurance["State"].apply(lambda x: "Arizona" if x == "AZ" else 
                                                                ("California" if x == "Cali" else
                                                                 ("Washington" if x == "WA" else x)))
combined_insurance["Education"] = combined_insurance["Education"].apply(lambda x: "Bachelor" if x == "Bachelors" else x)
combined_insurance["Vehicle_Class"] = combined_insurance["Vehicle_Class"].apply(lambda x: "Luxury" if "Luxury" in x or x == "Sports Car" else x)

In [272]:
combined_insurance["Number_of_Open_Complaints"].apply(lambda x: str(x)[2] if "/" in str(x) else x)

0       0
1       0
2       0
3       0
4       0
       ..
7065    0
7066    0
7067    3
7068    0
7069    0
Name: Number_of_Open_Complaints, Length: 9137, dtype: object

In [279]:
combined_insurance.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [280]:
new_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
insurance_new = pd.read_csv(new_url)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [287]:
insurance_new.groupby(["sales_channel"])[["total_claim_amount","customer_lifetime_value"]].sum().round(2)

               total_claim_amount  customer_lifetime_value
sales_channel
Agent                  1810226.82              33057887.85
Branch                 1301204.00              24359201.21
Call Center             926600.82              17364288.37
Web                     706600.04              12697632.90

In [289]:
insurance_new.groupby(["gender","education"])["customer_lifetime_value"].mean().round(2)

gender  education
F       Bachelor                7874.27
        College                 7748.82
        Doctor                  7328.51
        High School or Below    8675.22
        Master                  8157.05
M       Bachelor                7703.60
        College                 8052.46
        Doctor                  7415.33
        High School or Below    8149.69
        Master                  8168.83
Name: customer_lifetime_value, dtype: float64

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here